body {
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-size: 100%;
    margin: 0 auto;
    width: 900px;

    
    
}

header {
    background-color: #E6E6E6;
}

nav {
   background-color: #D9853B;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-top: 10px;
 
}

ul {}

li {}

article {}

section {}

footer {}

h1 {}

h2 {}

h3 {}

p {}
