/*
The default style sheet for this site.
*/



/*Reset browser's own internal CSS stylesheet before reading this file. */
*{
    margin:0;
    padding:0;
}


@font-face {
    font-family: 'acherus_militant_1bold';
    src: url('acherus_militant_1_-_bold.otf-webfont.eot');
    src: url('acherus_militant_1_-_bold.otf-webfont.eot?#iefix') format('embedded-opentype'),
         url('acherus_militant_1_-_bold.otf-webfont.woff2') format('woff2'),
         url('acherus_militant_1_-_bold.otf-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-size: 100%;
    margin: 0 auto;
    max-width: 900px;
    min-width: 600px;
    background-image: url(../img/122.jpg);
    background-size:cover;

}

header {
   font-family: 'acherus_militant_1bold';
    font-size: 100%;
    min-height: 150px;
    text-align: left;
    padding: 30px 0px 10px 60px;
    
}


nav {
    float: left;
    position: relative;
    left:50px;
    width: 200px;
    height: 700px;
    
    

/*
    margin-top: -25px;
    margin-bottom: -25px;
*/
}

.nav-links:link {
    color: #535E3B;
    text-decoration:none;
    font-size: 1.875 em;
  
    
}

.nav-links:visited {
    color: #535E3B;
    text-decoration:none;
    font-size: 1.875 em;
  
}

.nav-links:hover {
    color:steelblue;
    font-size: 1.875 em;
  
}
.sub-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav li {
    padding: 80px 20px 30px 20px;
    
}

.main-nav li a {
    color: #535E3B;
    display: block;
    text-decoration: none;
}

.main-nav li a:hover {
    background-color: lightblue;
    transition: background-color .5s;
    }


.main-nav li .sub-nav li {
    display: none;
}

.main-nav li:hover .sub-nav li {
    display: block;
    background-size:cover;
    
}

main {
    min-height: 600px;
}

.current-page {
    font-size: 1.85 em;
  
}




.reference-image {
    left: 10px;
    padding: 10px 10px 15px 0;
    position: relative;
}
article{
    left:100px;
    height: 650px;
    padding-bottom: 50px 50px 50px 50px; 
}

h1 {
    font-family: 'acherus_militant_1bold';
    color: rgb(121, 84, 13);
    
    font-size: 4em;
    padding: 18px 20px 20px 15px;
}
h2{
   font-family: 'acherus_militant_1bold';
    color: rgb(121, 84, 13);
    
    font-size: 2em;
     padding: 40px 50px 30px 20px;
     position: relative;
   
}
p{
 font-family: 'acherus_militant_1bold';
   color: #0A170E;
   font-size:0.9em; 
}
h3{
    font-family: 'acherus_militant_1bold';
    color:#535E3B;
        
    font-size: 1em;
        
}
.h3-links:link {
    color: #535E3B;
    text-decoration:none;
    font-size: 1.5 em;
}
.h3-links:visited {
    color: steelblue;
    text-decoration:none;
    font-size: 1.5 em;
}
.h3-links:hover {
    color: powderblue;
    font-size: 1.5 em;
  
}
.h2-links:link {
    color: rgb(121, 84, 13);
    text-decoration:none;
    font-size: 1.5 em;
}
.h2-links:visited {
    color: steelblue;
    text-decoration:none;
    font-size: 1.5 em;
}
.h2-links:hover {
    color: powdernlue;
    font-size: 1.5 em;

  
}
footer{
    text-align: center;
}