* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: 900px;
    min-width: 600px;
    background-image: url(../img/17.jpg);
    background-size:100% 100%;
}
nav {
    float: left;
    margin-bottom: -8000px;
    padding-bottom: 9999px;
    width: 200px;
    height: 1000px;
}
nav ul{
    list-style-type: none;
    text-align: center;
    }

nav li {
padding: 90px 30px 30px 30px;
}


.nav-links:link {
    color: #535E3B;
    text-decoration:none;
    font-size: 1.5 em;
  
    
}

.nav-links:visited {
    color: steelblue;
    text-decoration:none;
    font-size: 1.5 em;
  
}

.nav-links:hover {
    color: powderblue;
    font-size: 1.5 em;
  
}
.gallery figure {
    color: rgb(121, 84, 13);
    float:left;
    height: 190px;
    margin: 30px;
    text-align: center;
    width: 28%;
}
.gallery2 figure {
    color: rgb(121, 84, 13);
    float:left;
    height:280px;
    margin: 40px;
    text-align: center;
    width: 28%;
}
h2{
    color: rgb(121, 84, 13);
    text-align: center;
    margin: 40px;
   
}
h3{
    color: rgb(121, 84, 13);
    text-align: center;
    margin: 40px;
   
}
